@import "tailwindcss";

@keyframes scroll-float {
  0% {
    transform: translate(-50%, 0);
    opacity: 0.6;
  }
  50% {
    transform: translate(-50%, -8px);
    opacity: 1;
  }
  100% {
    transform: translate(-50%, 0);
    opacity: 0.6;
  }
}

.animate-scroll-float {
  animation: scroll-float 5s ease-in-out infinite;
}

